In [1]:
import numpy as np
import pandas as pd

In [2]:
email = 'mic@gmail.com'

In [7]:
email.isdigit()

False

In [8]:
'5'.isdigit()

True

In [3]:
email.split('@')

['mic', 'gmail.com']

In [4]:
names= pd.Series(['andrew','bobo','claire','david','5'])

In [5]:
names

0    andrew
1      bobo
2    claire
3     david
4         5
dtype: object

In [6]:
names.str.upper()

0    ANDREW
1      BOBO
2    CLAIRE
3     DAVID
4         5
dtype: object

In [11]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [12]:
tech_finance = ['GOOG,APPL,AMZN','JPM,BAC,GS']

In [13]:
len(tech_finance)

2

In [15]:
tickers = pd.Series(tech_finance)
print(tickers)

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [16]:
tickers.str.split(',')

0    [GOOG, APPL, AMZN]
1        [JPM, BAC, GS]
dtype: object

In [17]:
tickers.str.split(',')[0]

['GOOG', 'APPL', 'AMZN']

In [18]:
tickers.str.split(',').str[0]

0    GOOG
1     JPM
dtype: object

In [19]:
tickers.str.split(',',expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [20]:
messy_names= pd.Series(['andrew   ','bo;bo','  claire  '])
print(messy_names)

0     andrew
1         bo;bo
2      claire
dtype: object

In [24]:
messy_names.str.replace(';','').str.strip()

0    andrew
1      bobo
2    claire
dtype: object

In [25]:
messy_names.str.replace(';','').str.strip()[0]

'andrew'

In [26]:
messy_names.str.replace(';','').str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object

In [27]:
def cleanup(name):
    name= name.replace(';', '')
    name = name.strip()
    name = name.capitalize()
    return name

messy_names.apply(cleanup)

0    Andrew
1      Bobo
2    Claire
dtype: object