In [1]:
import numpy as np
import pandas as pd

from datetime import datetime

In [2]:
myyear = 2015
mymonth = 1
myday = 1
myhour = 2
mymin = 30
mysec = 15

In [3]:
mydate = datetime(myyear, mymonth, myday)
print(mydate)

2015-01-01 00:00:00

In [4]:
mydatetime = datetime(myyear, mymonth, myday, myhour, mymin, mysec)
print(mydatetime)

2015-01-01 02:30:15

In [5]:
mydatetime.year

2015

In [6]:
myser = pd.Series(['Nov 3, 1990', '2000-01-01', None])

In [7]:
myser

0    Nov 3, 1990
1     2000-01-01
2           None
dtype: object

In [8]:
timeser = pd.to_datetime(myser, format='mixed')
print(timeser)

0   1990-11-03
1   2000-01-01
2          NaT
dtype: datetime64[ns]

In [9]:
obvi_euro_date = '31-12-2000'

In [10]:
pd.to_datetime(obvi_euro_date, format='mixed')

Timestamp('2000-12-31 00:00:00')

In [11]:
euro_date = '10-12-2000'

In [12]:
pd.to_datetime(euro_date, format='mixed', dayfirst=True)

Timestamp('2000-12-10 00:00:00')

In [13]:
style_date = '12--Dec--2000'

In [14]:
pd.to_datetime(style_date, format='%d--%b--%Y')

Timestamp('2000-12-12 00:00:00')

In [15]:
custom_date = '12th of Dec 2000'
pd.to_datetime(custom_date,format='mixed')

Timestamp('2000-12-12 00:00:00')

In [16]:
sales = pd.read_csv('../../DATA/RetailSales_BeerWineLiquor.csv')
print(sales)

           DATE  MRTSSM4453USN
0    1992-01-01           1509
1    1992-02-01           1541
2    1992-03-01           1597
3    1992-04-01           1675
4    1992-05-01           1822
..          ...            ...
335  2019-12-01           6630
336  2020-01-01           4388
337  2020-02-01           4533
338  2020-03-01           5562
339  2020-04-01           5207

[340 rows x 2 columns]

In [17]:
sales['DATE']

0      1992-01-01
1      1992-02-01
2      1992-03-01
3      1992-04-01
4      1992-05-01
          ...
335    2019-12-01
336    2020-01-01
337    2020-02-01
338    2020-03-01
339    2020-04-01
Name: DATE, Length: 340, dtype: object

In [18]:
sales['DATE'] = pd.to_datetime(sales["DATE"])

In [19]:
sales['DATE']

0     1992-01-01
1     1992-02-01
2     1992-03-01
3     1992-04-01
4     1992-05-01
         ...
335   2019-12-01
336   2020-01-01
337   2020-02-01
338   2020-03-01
339   2020-04-01
Name: DATE, Length: 340, dtype: datetime64[ns]

In [20]:
sales["DATE"][0].year

1992

In [21]:
sales = pd.read_csv('../../DATA/RetailSales_BeerWineLiquor.csv', parse_dates=[0])
sales["DATE"]

0     1992-01-01
1     1992-02-01
2     1992-03-01
3     1992-04-01
4     1992-05-01
         ...
335   2019-12-01
336   2020-01-01
337   2020-02-01
338   2020-03-01
339   2020-04-01
Name: DATE, Length: 340, dtype: datetime64[ns]

In [22]:
sales = sales.set_index("DATE")
print(sales)

            MRTSSM4453USN
DATE
1992-01-01           1509
1992-02-01           1541
1992-03-01           1597
1992-04-01           1675
1992-05-01           1822
...                   ...
2019-12-01           6630
2020-01-01           4388
2020-02-01           4533
2020-03-01           5562
2020-04-01           5207

[340 rows x 1 columns]

In [23]:
sales.resample(rule='A').mean()

            MRTSSM4453USN
DATE
1992-12-31    1807.250000
1993-12-31    1794.833333
1994-12-31    1841.750000
1995-12-31    1833.916667
1996-12-31    1929.750000
1997-12-31    2006.750000
1998-12-31    2115.166667
1999-12-31    2206.333333
2000-12-31    2375.583333
2001-12-31    2468.416667
2002-12-31    2491.166667
2003-12-31    2539.083333
2004-12-31    2682.416667
2005-12-31    2797.250000
2006-12-31    3001.333333
2007-12-31    3177.333333
2008-12-31    3292.000000
2009-12-31    3353.750000
2010-12-31    3450.083333
2011-12-31    3532.666667
2012-12-31    3697.083333
2013-12-31    3839.666667
2014-12-31    4023.833333
2015-12-31    4212.500000
2016-12-31    4434.416667
2017-12-31    4602.666667
2018-12-31    4830.666667
2019-12-31    4972.750000
2020-12-31    4922.500000

In [24]:
sales = pd.read_csv('../../DATA/RetailSales_BeerWineLiquor.csv', parse_dates=[0])
sales.head()

        DATE  MRTSSM4453USN
0 1992-01-01           1509
1 1992-02-01           1541
2 1992-03-01           1597
3 1992-04-01           1675
4 1992-05-01           1822

In [25]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340 entries, 0 to 339
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           340 non-null    datetime64[ns]
 1   MRTSSM4453USN  340 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 5.4 KB

In [26]:
sales["DATE"].dt.year

0      1992
1      1992
2      1992
3      1992
4      1992
       ...
335    2019
336    2020
337    2020
338    2020
339    2020
Name: DATE, Length: 340, dtype: int32