In [4]:
import pandas as pd
import numpy as np

In [5]:
from sqlalchemy import create_engine

In [6]:
temp_db = create_engine('sqlite:///:memory:')

In [9]:
df = pd.DataFrame(np.random.randint(low=0,high=100,size=(4,4)),columns=['a','b','c','d'])

In [10]:
df

    a   b   c   d
0  93  11  29  38
1  94   2  22  69
2  13  56  59  13
3  78  19  47   6

In [15]:
df.to_sql(name='new_table',con=temp_db,index=False,if_exists='replace')

4

In [16]:
new_df = pd.read_sql(sql='new_table',con=temp_db)

In [17]:
new_df

    a   b   c   d
0  93  11  29  38
1  94   2  22  69
2  13  56  59  13
3  78  19  47   6

In [19]:
result = pd.read_sql_query(sql="SELECT a,c FROM new_table",con=temp_db)

In [20]:
result

    a   c
0  93  29
1  94  22
2  13  59
3  78  47