In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
# help(pd.Series)

In [4]:
myindex = ['USA', 'Canada', 'Mexico']

In [5]:
mydata = [1776, 1867, 1821]

In [6]:
myser = pd.Series(data=mydata, index=myindex)
print(myser)
type(myser)

USA       1776
Canada    1867
Mexico    1821
dtype: int64

pandas.core.series.Series

In [7]:
print(myser[0])
print(myser['USA'])

1776
1776

In [8]:
ages = {'Sam':5, 'Frank':10, 'Spike':7}

In [9]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

In [10]:
type(pd.Series(ages))

pandas.core.series.Series

In [11]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100, 'China': 500, 'India': 210, 'USA': 260}

In [12]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [13]:
print(sales_q1)
print(sales_q2)

Japan     80
China    450
India    200
USA      250
dtype: int64
Brazil    100
China     500
India     210
USA       260
dtype: int64

In [14]:
print(sales_q1['Japan'])
print(sales_q1[0])

80
80

In [15]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [16]:
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [17]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [18]:
sales_q1.add(sales_q2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64