## Python Crash Course

In [1]:
type(1.0)

float

In [2]:
type((1, 3, 5))

tuple

In [3]:
1+1, 1*3, 1/2, 2**4, 3%2

(2, 3, 0.5, 16, 1)

In [4]:
print("hello")
'hello'

hello

'hello'

In [5]:
print("My name is {}".format('Mic'))

My name is Mic

In [6]:
print("First {x}, Second {y}".format(x="XX", y="YYYY"))

First XX, Second YYYY

In [7]:
type([1,2,3])

list

In [8]:
mylist = ['a','b','c']
print(mylist[0])
print(mylist[2])
print(mylist[-1])
mylist[0]='NEW'
print(mylist)
mylist.append('d')
print(mylist)

a
c
c
['NEW', 'b', 'c']
['NEW', 'b', 'c', 'd']

In [9]:
mylist = [1,2,[100,200]]
print(mylist)
print(mylist[2][1])

[1, 2, [100, 200]]
200

In [10]:
d = {"key1": "value1", "key2": "value2"}
print(type(d))
print(d)
print(d["key1"])

<class 'dict'>
{'key1': 'value1', 'key2': 'value2'}
value1

In [11]:
True, False

(True, False)

In [12]:
t = (1,2,3)
print(type(t))
print(t)

<class 'tuple'>
(1, 2, 3)

In [13]:
s = {1, 2, 3}
print(type(s))
print(s)

<class 'set'>
{1, 2, 3}

In [14]:
s2 = {1, 1, 2, 2, 3, 3}
print(s2)

{1, 2, 3}

In [15]:
list1 = [1,2,3,4,5]
for item in list1:
    print(item)

1
2
3
4
5

In [16]:
i = 1
while i < 5:
    print("i is {}".format(i))
    i = i + 1

i is 1
i is 2
i is 3
i is 4

In [17]:
list(range(2,15,3))

[2, 5, 8, 11, 14]

## List Comprehension

In [18]:
list2 = [1,2,3,4,5]
[num**2 for num in list2]

[1, 4, 9, 16, 25]

In [19]:
def my_func(name="NO NAME"):
    '''
    This print out the name
    '''
    print('Hello ' + name)

my_func()
my_func('Mic')
print(type(my_func('Test')))

Hello NO NAME
Hello Mic
Hello Test
<class 'NoneType'>

In [20]:
def square(x):
    return x**2

result = square(3)
print(result)

9

In [21]:
lambda var: var*2

In [22]:
st = "My name is Mic"
print(st.lower())
print(st.upper())
print(st.split())

my name is mic
MY NAME IS MIC
['My', 'name', 'is', 'Mic']

In [23]:
d = { "k1" : "v1", "k2" : "v2"}
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['k1', 'k2'])
dict_values(['v1', 'v2'])
dict_items([('k1', 'v1'), ('k2', 'v2')])